{% extends 'base.html' %}

{% block navbar %}
{% include '_navbar.html' %}
{% endblock %}

{%block sub_content %}

<center>
    <div class="jumbotron">
        <h1>Actions</h1>
    </div>

    <h2>{{message}}</h2>

    <form action="{{ url_for('redirect')}}" name="host_name" method="POST">
        <div class="form-group">
            <select id="host_name" name="host_name">
                <option value="{{hosts[0].host_name}}" selected>{{hosts[0].host_name}}</option>
                {% for host in hosts[1:] %}
                   <option value="{{host.host_name}}">{{host.host_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" />
        </div>
    </form>
</center>

{% endblock %}